    body{
     font-family: Arial,Helvetica,sans-serif;
    }

    /*#trygrid{
    width:100%; 
    display: grid;
    grid-template-columns: repeat(4,1fr);
    right:10px;
    top: 1100px;
    margin-right:10px;

    }*/

    #form{
     grid-column:1/5; 
     display: grid;
     grid-template-columns:repeat(4,1fr);
     padding-top:350px;
     margin-top:100px;
     margin-bottom:20px;
     grid-row-gap:10px;
     border: 4px white;
     border-radius:10px;  
     height: 400px;
     top : 1600px;


    }

    .sect{
     grid-column:1/5;
     grid-row-start:1;
     height:350px;

     overflow:visible;
    }

    #name{
     grid-column:1/3
     ;
     width:150px;
     height:30px;
     text-align: justify;
     padding-right:100px;
     border: 2px  #107dac;
     background-color:white;
     color:black;
     border-radius:10px;
     position: relative;
     left:10px;
     float: left;
     font: italic bold 12px/30px Georgia, serif;
     }

    #textarea{
     grid-column: 1/3;
     width:350px;
     height:100px;
     text-align: justify;
     border: 2px  #107dac;
     background-color:white;
     color:black;
     border-radius:10px;
     position: relative;
     left:10px;
     font: italic bold 12px/30px Georgia, serif;



    }

    #email{
    grid-column:1/3; 
    width:250px;
    height:30px;
    text-align: justify;
    border: 2px  #107dac;
    background-color:white;
    color:black;
    border-radius:10px;
    position: relative;
    left:10px;  
    font: italic bold 12px/30px Georgia, serif;

    }

    #subin{  
    height:30px;
    width:80px;
    text-align: center;
    border: 2px  #107dac;
    background-color:white;
    color:black;
    border-radius:10px;
    position: relative;
    top:10px;
    left:800px;
    font: italic bold 12px/30px Georgia, serif;

    }

    #video{
        position: absolute;
        top: 600px;
        left : 700px;
        float: absolute;
    }

    #text{
        position: absolute;
        float: absolute;
        color : white;
        right: 838px;
        top : 570px;
        text-align: justify;
        text-justify: inter-word;
        text-shadow: 2px 2px #ff0000;
    }

    #text2{
        position: absolute;
        float: absolute;
        color : white;
        right: 1040px;
        top : 630px;
        text-align: justify;
        text-justify: inter-word;


    }
    #aboutpara{
        position: absolute;
        float: absolute;
        color : white;
        right: 880px;
        top : 750px;
        text-align: justify;
        font-size:20px;

        border-bottom:1px ;
        margin-left:20px;
        margin-right:10px;
        /*text-align:center;*/
        width: 500px;
    }

    #para2{
        position: absolute;
        float: absolute;
        color : white;
        right: 120px;
        top : 1100px;
        text-align: justify;
        font-size:25px;

        border-bottom:1px ;
        margin-left:10px;
        margin-right:10px;
        text-align:center;
        width: 400px;
    }
    #text3{
        position: absolute;
        float: absolute;
        color : white;
        right: 120px;
        top : 1300px;
        text-align: justify;
        font-size:25px;

        border-bottom:1px ;
        margin-left:10px;
        margin-right:10px;
        text-align:center;
        width: 400px;
    }

    #subin:hover{
    color: black;
    border:2px  white;
    background-color: #107dac ;

    }

    #name:hover{
    color: black;
    border:2px  white;
    background-color: #107dac ;

    }

    #email:hover{
    color: black;
    border:2px  white;
    background-color: #107dac ;

    }

    #textarea:hover{
    color: black;
    border:2px  white;
    background-color: #107dac ;

    }

    .rad{ 
     margin-top:20px;
     margin-left:0px;
     margin-right:0px;

    }

    #changeimg{
    grid-column:1/6;
    grid-row-start:1;    
    width: 100%;
     z-index:1;

    }

    #changeimg2{

        top : 1100px;
        border-bottom:1px ;
        margin-left:10px;
        margin-right:10px;
        position: absolute;
        float: absolute;
        padding:1px;
        border:1px solid #021a40;
        background-color:white;
    }
    #ptwo{
     color: white;
     text-decoration-style: solid;

     text-decoration-style: double;
     font-size:30px;
     text-align:center;
    }
    #Ratingbox{
     color: white;
     /*text-decoration: underline;*/
     text-decoration-style: ;
     font-size:25px;
     position: relative;
     left:-660px;
     top: 124px;

    }

    .par{
    color: aqua;
    position: absolute;
    top: 780px;
    left:100px;
    border: 5px solid transparent;
    border-radius:50%;
    border-top: 5px solid #3498db;
    width: 120px;
    height: 120px;
    margin: auto;
    animation: spin 5s infinite linear;
    }

    @keyframes spin{
        from{transform:rotate(0deg);}
         to{transform:rotate(360deg);}
    }


    /*rating circles*/
    .rat{
         width: 20px;
        height: 20px;
        border: 1px solid white;
        border-radius: 20px;
        margin-right: 20px;
        cursor: pointer;
    }

    /*allining rating circles*/
    #inrate{
        display: inline-flex;
        position: relative;
        top: 150px;
        left:-875px;
    }

    /*rating circle colour*/
    .rat:hover{

        background-color:white;
    }



