@charset "utf-8";
/* CSS Document */


.siteMap 
{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 35px;
    color: white;
	font-family: cursive;
}
.title 
{
    display: block;
    font-size: 30px;
    position: relative;
    left: 8%;
    margin-bottom: 5px;
    width: 400px;
	font-family:cursive;
	
/*    z-index: 1;*/
    
}

.title a 
{
    text-decoration: none;
    color: white;
}
.title a:hover 
{
    color: #406CB9;
}
.title li 
{
    list-style-type: none;
}


    

.


